.dashboard-container {
  background-color: #f0f0f0;
}

.square-dashboard {
  text-align: center;
  color: white;
  width: 150px;
  height: 150px;
  margin: 5px;
  float: left;
  background-color: red;
}
